
	*{
		box-sizing: border-box;
		margin:0;
	}
body{
  	background-image: url(../img/sunny-day.jpg);
}

.cat {
  background-image: url(../img/kitten-medium.png);
}

@media (min-width: 657px) and (max-width: 800px) {
	body{
		background-image: url(../img/night.jpg);
	}
	.cat{
		background-image: url(../img/kitten-small.png);
	}
}

@media (min-width: 376px) and (max-width: 567px) {
	body{
		background-image: url(../img/dawn.png);
	}
	.cat{
		background-image: url(../img/kitten-large.png)
	}
	
}